.node {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #767df9;
    padding: 10px;
    cursor: move;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    text-align: center;
}