.drag-area {
    width: 100%;
    height: 100vh;
    padding: 0;
    background-color: #898989;
}

.field {
    width: 550px;
    height: 550px;
    border: 2px solid #747474;
    border-radius: 10px;
    position: relative;
    margin: 100px auto;
    background-color: #b9b9b9;
    z-index: 10;
}

.svg-field {
    position: absolute;
    top: 0;
    left: 0;
    height: 550px;
    width: 550px;
}

.edge {
    stroke: #798fff;
    stroke-width: 5;
    opacity: .8;
}