.header {
    background-color: #767df9;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 90px;
    top: 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 100%;
    align-items: center;
}

.header__title {
    margin: 0;
    color: #e8e8e8;
}

.header__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__link-item {
    margin-left: 30px;
    color: #e8e8e8;
}

.header__link-item:first-child {
    margin-left: 0;
}

.header__link-item:hover {
    text-decoration: underline;
}

.header__link-icon {
    margin-right: 10px;
}

.header__link {
    text-decoration: none;
    color: #e8e8e8;
}